html, body{
    margin: 0;
    height: 100%;
}

header{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color:black;
    z-index: 10;
}

@media screen and(max-width:900px){

}

#botao-menu{
background-color: orangered;
}

/*
Comando de responsividade

.cormenu{
    visibility: hidden;
}
*/

li{
    float: left;
    color: white;
    padding: 20px 10px 20px 10px;
}

#logo{
width: 120px;
position: absolute;
margin-left: 5%;
margin-top: 2px;
}

.cormenu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    opacity: 80%;
    color: green;
}

#menu{
float: right;
margin-right: 5%;
margin-top: 0px;
list-style: none;
text-decoration: none;
}

h1{
    color: white;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    font-size: 40px;
}

#cabecalho{
    background-color:black;
    padding-bottom: 5px;
}

#secao1{
background:url(https://drive.google.com/uc?id=1BVerjFfmly4iSkqTkJOC8owGZI0icqds);
height: 100%;
background-position: center;
background-size: cover;
border-image-width: 20%;
text-align: center;

}

.titulo{
    padding-top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#horizontal{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid white;
}
#horizontal-cinza{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border: 1px solid gray;
}

.citacao{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 35%;
    padding-right: 35%;

}

.botao{
    color: white;
    border: 1px white solid;
    padding: 5px 5px 5px 5px;
    border-radius: 15%;
    text-decoration: none;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover{
    background-color: black;
}

.projeto{
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.selecao{
    padding-top: 30px;
    background-color: #dedede;
    padding: 20px;
}

.icone{
    width: 51px;
}

.icones-rodape{
    width: 25px;
    padding-right: 7px;
}

.contato1{
    float:right;
    padding: 0 5%;
    position: relative;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.contato2{
    float:right;
    padding: 0 5%;
    position: relative;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.branco{
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rodape{
    height: 27%;
    background-color: black;
    color: white;
    padding: 15px;
}