html, body{
    margin: 0;
    height: 100%;
}
header{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color:black;
    z-index: 10;
}
@media screen and(max-width:900px){

}
#botao-menu{
background-color: orangered;
}
/*
Comando de responsividade

.cormenu{
    visibility: hidden;
}
*/
li{
    float: left;
    color: white;
    padding: 20px 10px 20px 10px;
}
p, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
width: 120px;
position: absolute;
margin-left: 5%;
margin-top: 2px;
}
.cormenu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    opacity: 80%;
    color: green;
}
#menu{
float: right;
margin-right: 5%;
margin-top: 0px;
list-style: none;
text-decoration: none;
}
h1{
    color: white;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    font-size: 40px;
}
#cabecalho{
    background-color:black;
    padding-bottom: 5px;
}
#secao1{
background:url(https://drive.google.com/uc?id=1BVerjFfmly4iSkqTkJOC8owGZI0icqds);
height: 100%;
background-position: center;
background-size: cover;
border-image-width: 20%;
text-align: center;
}
.titulo{
    padding-top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
#horizontal{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid white;
}
#horizontal-cinza{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border: 1px solid gray;
}
.citacao{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 35%;
    padding-right: 35%;
}

.botao{
    color: white;
    border: 1px white solid;
    padding: 5px 5px 5px 5px;
    border-radius: 15%;
    text-decoration: none;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover{
    background-color: black;
}

.destaque{
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    float: left;
}
.coluna1{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois {
    width: 40%;
    float: left;
}
.quatro {
    width: 23%;
    float: left;
}
.cinco {
    width: 40%;
    float: left;
}
.selecao{
    padding-top: 10%;
    padding: 30px;
}
#atividades{
    padding: 30px;
}
.sobre{
    padding: 30px;
}
.icone{
    width: 51px;
}
.icones-rodape{
    width: 20px;
    padding-right: 2px;
    margin-top: -4px;
}
.contato1{
    float:right;
    padding: 0 5%;
    position: relative;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.links{
    color: #e5b734;
}
.contato2{
    float:right;
    padding: 0 5%;
    position: relative;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.branco{
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#rodape{
    height: 27%;
    background-color: #e5b734;
    color: white;
    padding: 10px;
}
.justificado{
    text-align:justify;
}
.centralizado {
    text-align: center;
}