html, body{
    margin: 0;
}

body{
/* Box model
* Margin: ao redor de toda a página.
* Padding: ao redor de determinado elemento.
*/
}

h1{
    color: white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 40px;
}
h2{
    color: white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 30px;
}

p{
    text-align: justify;
    color: white;
}

#cabecalho{
    background-color: green;
    padding-bottom: 5px;
}

#secao1{
background:url(https://drive.google.com/uc?id=1BVerjFfmly4iSkqTkJOC8owGZI0icqds);
padding: 150px; 
background-position: center;
background-size: cover;
border-image-width: 20%;
}

.citacao{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#botao{
    align-content: center;
    background-color: transparent;
    border-color: white;
    color: white;
}
#botao:hover{
    backgroud-color: green;
    color:white
}

#caixa{

    /*
*Divs são usadas para para aplicar estilização em determinados elementos de nosso HTML através de classes e ID's
*Section são usadas para separar conteúdos
*/

}

/*
#id
.classes*/